<section>


<div class="row row-cols-1 row-cols-md-3 row-cols-lg-3 row-cols-lx-3">
  <div class="col mb-3">
    <mat-card class="ensaladas-sopas">
        <mat-card-header>
     
          <h1>
          <mat-card-title>ENSALADAS</mat-card-title></h1>
        </mat-card-header>
        <img mat-card-image src="assets/img/ensalada.jpg" alt="ensaladas">
      
        <mat-card-actions>
          <button mat-raised-button color="warn">VER MAS</button>
        </mat-card-actions>
      </mat-card>
    </div>

    <div class="col mb-3">
      <mat-card class="ensaladas-sopas">
          <mat-card-header>
       
            <h1>
            <mat-card-title>CARNES</mat-card-title></h1>
          </mat-card-header>
          <img mat-card-image src="assets/img/carne.jpg" alt="ensaladas">
        
          <mat-card-actions>
            <button mat-raised-button color="warn">VER MAS</button>
          </mat-card-actions>
        </mat-card>
      </div>

      <div class="col mb-3">
        <mat-card class="ensaladas-sopas">
            <mat-card-header>
         
              <h1>
              <mat-card-title>POSTRES</mat-card-title></h1>
            </mat-card-header>
            <img mat-card-image src="assets/img/postre.jpg" alt="ensaladas">
          
            <mat-card-actions>
              <button mat-raised-button color="warn">VER MAS</button>
            </mat-card-actions>
          </mat-card>
        </div>
    
    



</div>
</section>





